{% extends "bootstrap/base.html" %}
{% block title %}Email{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}


{% block content %}

<div class="container">

    
    <h1>Ustawienia email - YouTube</h1>
    <div class="jumbotron">
	<form method="POST">

	    <div class="form-group">
		<label for="email_smtp_accept_all">Czy akceptować wszystkich nadawców</label>
		<select name="email_smtp_accept_all">
		    <option value="False" {% if form.email_smtp_accept_all == "False" %} selected {% endif %}>NIE</option>
		    <option value="True" {% if form.email_smtp_accept_all == "True" %} selected {% endif %}>TAK</option>
		</select>
	    </div>

	    <div class="form-group">
		<label for="email_smtp_accept">Adresy email nadawców, które akceptuje</label>
		<input type="text" class="form-control" name="email_smtp_accept" placeholder="smtp_accept" value="{{form.email_smtp_accept}}">
		<small class="help-block">Maile podawać po przecinkach. Uwaga! Jeżeli zaznaczone pole TAK w "Akceptuje wszystich nadawców", to te pole będzie ignorowane</small>
	    </div>
	    
	    <div class="form-group">
		<label for="height_photo">Temat email dla streaming YouTube</label>
		<input type="text" name="email_subject_streaming" class="form-control" placeholder="Temat email streaming" value="{{form.email_subject_streaming}}">
		<small class="help-block">np: {{form.email_subject_streaming}},yt,start - startuje transmisje dla odtwarzacza YouTube</small>
		<small class="help-block">np: {{form.email_subject_streaming}},yt,stop - zatrzymuje transmisje dla odtwarzacza YouTube</small>
	    </div>

	    
	    
	    
	    <button type="submit" class="btn btn-lg btn-danger">Zapisz</button>
	</form>
	

    </div>
    
</div>

{% endblock %}

{% block scripts %}
  {{super()}}
<script src="{{url_for('static', filename='info_system.js')}}"></script>
{% endblock %}
