{% extends "bootstrap/base.html" %}
{% block title %}Home{% endblock %}

{% block styles %}
{{super()}}
<link href="{{url_for('static', filename='jquery.minicolors.css')}}" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}


  
<div class="container-fluid">
    
    <div class="row">    
	<div class="col-lg-12">
	    <div class="panel panel-default">
		<div class="panel-heading">
	      Podgląd, {{date_created}}
		</div>
		<div class="panel-body">
	      {% if image != '' %}
		    <a href="{{image}}?v={{date_created}}"><img src="{{image}}?v={{date_created}}" width="1200"></a>
	      {% endif %}
		</div>
	    </div>
	</div>
	
    </div>
    
</div>

{% endblock %}


{% block scripts %}
  {{super()}}
    <script src="{{url_for('static', filename='info_system.js')}}"></script>
{% endblock %}
