{% extends "bootstrap/base.html" %}
{% block title %}Ustawienia - kolorystyka zdjęć{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}


<div class="container">
    <h1>Ustawienia - Kolorystyka zdjęć</h1>	    
    <div class="jumbotron">
	<div class="panel-body">
	    <form method="POST">
		<div class="form-group">
		    <label for="">Ostrość, <a href="http://picamera.readthedocs.io/en/release-1.12/api_camera.html#picamera.PiCamera.sharpness" target="_blank">sharpness</a> [0-100], domyślnie 0</label>
		    <input type="number" min="0" max="100" name="photo_sharpness" class="form-control" placeholder="sharpness" value="{{form.photo_sharpness}}" required>
		</div>
		<div class="form-group">
		    <label for="">Kontrast, <a href="http://picamera.readthedocs.io/en/release-1.12/api_camera.html#picamera.PiCamera.contrast" target="_blank">contrast</a> [0-100], domyślnie 0</label>
		    <input type="number" min="0" max="100" name="photo_contrast" class="form-control" placeholder="contrast" value="{{form.photo_contrast}}" required>
		</div>
		<div class="form-group">
		    <label for="">Jasność, <a href="http://picamera.readthedocs.io/en/release-1.12/api_camera.html#picamera.PiCamera.brightness" target="_blank">brightness</a> [0-100], domyślnie 50</label>
		    <input type="number" min="0" max="100" name="photo_brightness" class="form-control" placeholder="brightness" value="{{form.photo_brightness}}" required>
		</div>
		<div class="form-group">
		    <label for="">Nasycenie, <a href="http://picamera.readthedocs.io/en/release-1.12/api_camera.html#picamera.PiCamera.saturation" target="_blank">saturation</a> [-100 do 100], domyślnie 0</label>
		    <input type="number" min="-100" max="100" name="photo_saturation" class="form-control" placeholder="saturation" value="{{form.photo_saturation}}" required>
		</div>
		<div class="form-group">
		    <label for="">Iso, <a href="http://picamera.readthedocs.io/en/release-1.12/api_camera.html#picamera.PiCamera.iso" target="_blank">iso</a> [0-1600], domyślnie 0</label>
		    <input type="number" min="0" max="1600" name="photo_iso" class="form-control" placeholder="iso" value="{{form.photo_iso}}" required>
		</div>
		<div class="form-group">
		    <label for="exposure_compensation">Kompensacja ekspozycji, <a href="http://picamera.readthedocs.io/en/release-1.12/api_camera.html#picamera.PiCamera.exposure_compensation" target="_blank">exposure_compensation</a>,  [-25 do 25], domyślnie 0</label>
		    <input name="photo_exposure_compensation" type="number" min="-25" max="25" class="form-control" value="{{form.photo_exposure_compensation}}" placeholder="0" required>
		</div>
		<div class="form-group">
		    <label for="exposure_mode">Ekspozycja, <a href="http://picamera.readthedocs.io/en/release-1.12/api_camera.html#picamera.PiCamera.exposure_mode" target="_blank">exposure_mode</a>, domyślnie "auto"</label>
		    <select name="photo_exposure_mode" class="form-control">
			  {% for v in ['off', 'auto', 'night', 'nightpreview', 'backlight', 'spotlight', 'sports', 'snow', 'beach', 'verylong', 'fixedfps', 'antishake', 'fireworks'] %}
			<option value="{{ v }}" {% if form.photo_exposure_mode == v %} selected="yes" {% endif %}>{{ v }}</option>
			  {% endfor %}
		    </select>
		</div>
		<div class="form-group">
		    <label for="meter_mode">Tryb pomiaru światła, <a href="http://picamera.readthedocs.io/en/release-1.12/api_camera.html#picamera.PiCamera.meter_mode" target="_blank">meter_mode</a>, domyślnie "average"</label>
		    <select name="photo_meter_mode" class="form-control">
			  {% for v in ['average', 'spot', 'backlit', 'matrix'] %}
			<option value="{{ v }}" {% if form.photo_meter_mode == v %} selected="yes" {% endif %}>{{ v }}</option>
			  {% endfor %}
		    </select>
		</div>
		<div class="form-group">
		    <label for="awb_gains">Ręczny balans bieli, <a href="http://picamera.readthedocs.io/en/release-1.12/api_camera.html#picamera.PiCamera.awb_gains" target="_blank">awb_gains</a>, działa jak awb_mode = off</label>
		    <div class="row">
			<div class="col-lg-6">
			    <label>red</label>
			    <input name="photo_awb_gains_red" type="number" step=".1" min="0.0" max="8.0" class="form-control" value="{{form.photo_awb_gains_red}}" placeholder="0.9" required>
			</div>
			<div class="col-lg-6">
			    <label>blue</label>
			    <input name="photo_awb_gains_blue" type="number" step=".1" min="0.0" max="8.0" class="form-control" value="{{form.photo_awb_gains_blue}}" placeholder="0.9" required>
			</div>
		    </div>

		</div>
		<div class="form-group">
		    <label for="awb_mode">Balans bieli, <a href="http://picamera.readthedocs.io/en/release-1.12/api_camera.html#picamera.PiCamera.awb_mode" target="_blank">awb_mode</a>, domyślnie "auto"</label>
		    <select name="photo_awb_mode" class="form-control">
			  {% for v in ["off", "auto", "sunlight", "cloudy", "shade", "tungsten", "fluorescent", "incandescent", "flash", "horizon"] %}
			<option value="{{ v }}" {% if form.photo_awb_mode == v %} selected="yes" {% endif %}>{{ v }}</option>
			  {% endfor %}			  
		    </select>
		</div>

		<div class="form-group">
		    <label for="image_effect">Efekty, <a href="http://picamera.readthedocs.io/en/release-1.12/api_camera.html#picamera.PiCamera.image_effect" target="_blank">image_effect</a>, domyślnie "none"</label>
		    <select name="photo_image_effect" class="form-control">
			{% for v in ['none','negative','solarize','sketch','denoise','emboss','oilpaint','hatch','gpen','pastel','watercolor','film','blur','saturation','colorswap','washedout','posterise','colorpoint','colorbalance','cartoon','deinterlace1','deinterlace2'] %}
			<option value="{{v}}" {% if form.photo_image_effect == v %} selected="yes" {% endif %}>{{v}}</option>
			{% endfor %}
		    </select>
		</div>

		<div class="form-group">
		    <label for="color_effects">Kolory, <a href="http://picamera.readthedocs.io/en/release-1.12/api_camera.html#picamera.PiCamera.color_effects" target="_blank">color_effect</a>, jak chcesz wyłaczyć to skasuj wartości</label>
		    <div class="row">
			<div class="col-lg-6">
			    <label>u [0-255],  czarno-białe 128</label>
			    <input type="number" min="0" max="255" class="form-control" value="{{ form.photo_color_effects_u }}" name="photo_color_effects_u">
			</div>
			<div class="col-lg-6">
			    <label>v [0-255], czarno-biało 128</label>
			    <input type="number" min="0" max="255" class="form-control" value="{{ form.photo_color_effects_v }}" name="photo_color_effects_v">
			</div>
		    </div>
		</div>
		
		<button type="submit" class="btn btn-lg btn-danger">Zapisz</button>	
	    </form>
	</div>
    </div>
    
    
</div>

{% endblock %}


{% block scripts %}
  {{super()}}
<script src="{{url_for('static', filename='info_system.js')}}"></script>
{% endblock %}
